# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://cfnrfgamkpunhxwjhrah.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_DB_HOST=db.jzrsirbxbinqrapznzlm.supabase.co
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.jzrsirbxbinqrapznzlm.supabase.co:5432/postgres

# OpenAI
OPENAI_API_KEY=
OPENAI_DEFAULT_MODEL=gpt-4o-mini

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
